@import "./variables/vars";
@import "./mixins/mixins";

@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/social.scss";
@import "./components/features.scss";
@import "./components/options.scss";
@import "./components/info.scss";
@import "./components/about.scss";
@import "./components/pricing.scss";
@import "./components/testimonials.scss";
@import "./components/ad.scss";

@include main;

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    @include for-tablets {
        padding: 0 35px;
    }

    @include for-phones {
        padding: 0 15px;
    }
}