@import "../variables/vars";
@import "../mixins/mixins";

.header {
    background-color: $bg-dark;
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 150;
    padding-top: 21px;
    padding-bottom: 22px;

    @include for-phones {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-tablets {
        flex-direction: column;
    }
}

.header__logo {
    display: flex;
    width: 79px;

    @include for-tablets {
        align-self: flex-start;
    }
}

.header__logo-img {
    width: 100%;
}

.header__navbar {
    display: flex;
    align-items: center;

    @include for-tablets {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.6s linear;
        padding-top: 10px;

        &.expand {
            position: static;
            visibility: visible;
            opacity: 1;
        }
    }
}

.header__list {
    display: flex;
    list-style: none;

    @include for-tablets {
        flex-direction: column;
        justify-content: center;
		align-items: center;
    }
}

.header__item {
    @include for-tablets {
        margin-bottom: 12px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.header__link {
    text-decoration: none;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 600;
    color: $link-color;
    margin-left: 47px;
    transition: color 0.2s;
    position: relative;

    &:active,
    &:hover {
        color: $main-color;
    }

    @include for-tablets {
        margin-left: 0;
        font-size: 13px;
    }

    @include for-phones {
        font-size: 12px;
    }
}

.header__link--active::after {
    position: absolute;
	content: '';
	height: 2px;
	width: 20px;
	background-color: $main-color;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -10px;

    @include for-tablets {
        bottom: -5px;
    }
}

// Burger button

.header__btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: none;

    @include for-tablets {
        display: flex;
        top: 20px;
        right: 35px;
    }

    @include for-phones {
        top: 14px;
        right: 15px;
    }
}

.header__btn-burger {
    width: 30px;
    height: 4px;
    background-color: $link-color;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

    @include for-phones {
        width: 25px;
    }
}

.header__btn-burger::before,
.header__btn-burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: $link-color;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;

    @include for-phones {
        width: 25px;
    }
}

.header__btn-burger::before {
    transform: translateY(-8px);
}

.header__btn-burger::after {
    transform: translateY(8px);
}

// Animation for burger button

.header__btn.open .header__btn-burger {
    transform: translateX(-25px);
    background-color: transparent;
}

.header__btn.open .header__btn-burger::before {
    background-color: $main-color;
    transform: rotate(45deg) translate(18px, -18px);
}

.header__btn.open .header__btn-burger::after {
    background-color: $main-color;
    transform: rotate(-45deg) translate(18px, 18px);
}