.pricing {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 103px;
}
@media (max-width: 1199px) {
  .pricing {
    padding: 60px 0;
  }
}
@media (max-width: 641px) {
  .pricing {
    padding: 30px 0;
  }
}

.pricing__header {
  text-align: center;
  margin-bottom: 79px;
}
@media (max-width: 641px) {
  .pricing__header {
    margin-bottom: 40px;
  }
}

.pricing__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  color: #212121;
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 641px) {
  .pricing__title {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.pricing__title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
  bottom: -24px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-width: 641px) {
  .pricing__title::after {
    width: 50px;
  }
}

.pricing__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #9a9b9f;
}
@media (max-width: 641px) {
  .pricing__subtitle {
    font-size: 13px;
  }
}

.pricing__boxes {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1199px) {
  .pricing__boxes {
    flex-direction: column;
    align-items: center;
  }
}

.pricing__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 343px;
  width: 100%;
  box-shadow: 0 8px 30px rgba(0, 1, 1, 0.2);
}
@media (max-width: 1199px) {
  .pricing__box {
    max-width: 400px;
    margin-bottom: 30px;
  }
}
@media (max-width: 641px) {
  .pricing__box {
    max-width: 250px;
  }
}

.pricing__box-main {
  background-color: #333333;
  color: #ffffff;
  width: 100%;
  border-bottom: 5px solid #ff8b38;
}

.pricing__box-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #999999;
  padding: 16px;
}
@media (max-width: 641px) {
  .pricing__box-title {
    font-size: 18px;
  }
}

.pricing__box-price {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 95px;
  margin-bottom: 3px;
}
@media (max-width: 641px) {
  .pricing__box-price {
    font-size: 85px;
  }
}
.pricing__box-price .pricing__box-currency {
  font-size: 35px;
}
@media (max-width: 641px) {
  .pricing__box-price .pricing__box-currency {
    font-size: 30px;
  }
}

.pricing__box-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #9a9b9f;
  font-style: italic;
  padding-bottom: 20px;
}
@media (max-width: 641px) {
  .pricing__box-desc {
    font-size: 13px;
  }
}

.pricing__box-recom {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff8b38;
  padding-top: 9px;
  padding-bottom: 4px;
}
@media (max-width: 641px) {
  .pricing__box-recom {
    font-size: 13px;
  }
}

.pricing__box-secondary {
  background-color: #ffffff;
  width: 100%;
}

.pricing__box-list {
  list-style: none;
}

.pricing__box-item {
  color: #9a9b9f;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}
@media (max-width: 641px) {
  .pricing__box-item {
    font-size: 13px;
  }
}

/*# sourceMappingURL=pricing.css.map */
